@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 160 30% 19%; 
    --foreground: 0 0% 100%; 
    --muted: 160 20% 25%;
    --muted-foreground: 0 0% 80%;
    --popover: 160 25% 22%;
    --popover-foreground: 0 0% 100%;
    --card: 160 25% 22%;
    --card-foreground: 0 0% 100%;
    --border: 160 20% 25%;
    --input: 160 15% 35%; 
    --primary: 160 50% 40%; 
    --primary-foreground: 0 0% 100%;
    --secondary: 160 30% 30%;
    --secondary-foreground: 0 0% 100%;
    --accent: 160 30% 30%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --ring: 160 50% 40%;
    --radius: 0.5rem;
    --code-background: 180 30% 25%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 76% 87%;
    --input: 142 76% 87%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --code-background: 180 30% 15%; 
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::selection {
  background-color: #34d399; /* emerald-400 */
  color: #064e3b; /* emerald-900 */
}

::-moz-selection {
  background-color: #34d399; /* emerald-400 */
  color: #064e3b; /* emerald-900 */
}
